* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #f4f7f7;
}

#options[open] {
    width: 50%;
    max-width: 800px;
    height: 50%;
    max-height: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border: none;
}

#options h2 {
    font-size: 30px;
}

#mode-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#mode-buttons button {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #79a8a9;
    border: 1px solid black;
}

#mode-buttons button:hover {
    cursor: pointer;
}

.selected-mode {
    border: 2px solid rgb(86, 255, 114) !important;
    transform: scale(1.1) !important;
}

#start-button {
    font-size: 25px;
    color: #79a8a9;
    background-color: white;
    border: 2px solid #79a8a9;
    border-radius: 5px;
    padding: 10px;
}

#start-button:hover {
    cursor: pointer;
    background-color: #d3f9fa;
}

h1, p {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

#board {
    margin: 50px auto 0 auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    border: 5px solid #79a8a9;
}

#board > div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #1f4e5f;
}

#one {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#two {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#three {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#four {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#five {
    border: 1px solid black;;
}

#six {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#seven {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#eight {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#nine {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.winner {
    background-color: rgb(255, 215, 0) !important;
}

#board > div:hover {
    cursor: pointer;
}

#board > div:active {
    background-color: #aacfd0;
}

#reset {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
    background-color: #aacfd0;
    border: none;
    border-radius: 10px;
}

#reset:hover {
    cursor: pointer;
}

#reset:active {
    background-color: #79a8a9;
}

@media (max-width: 700px) or (max-height: 700px){
    h1 {
        font-size: 40px;
        margin: 20px auto;
    }

    #board {
        margin: 50px auto 0 auto;
        width: 350px;
        height: 350px;
        gap: 4px;
    }

    #board > div {
        font-size: 50px;
    }
}

@media (max-width: 500px) or (max-height: 500px){
    h1 {
        font-size: 30px;
        margin: 20px auto;
    }

    #board {
        margin: 50px auto 0 auto;
        width: 300px;
        height: 300px;
    }

    #board > div {
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    #options[open] {
        width: 400px;
        height: 240px;
        padding: 8px;
        gap: 30px;
    }

    #options h2 {
        font-size: 25px;
    }

    #mode-buttons button, #start-button {
        padding: 8px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    #options[open] {
        width: 300px;
        height: 200px;
        padding: 5px;
        gap: 20px;
    }

    #mode-buttons button, #start-button {
        padding: 8px;
        font-size: 20px;
    }
}